<!DOCTYPE html>
<html>
   <head>
      <title>Timestamp Microservice</title>
      <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>

      <div class="container">
        <h2>API Project: Timestamp Microservice</h2>

        <h3>Instructions :</h3>
        <ol class="instructions">  
          <li>The API endpoint is:<br><code>GET https://chazmcgrill-timestamp.glitch.me/api/timestamp/:date_string?</code></li>
          <li>The date string must be in either unix timestamp (e.g. <code>1479663089000</code>) or an date in format yyyy-mm-dd (e.g. <code>"2016-11-20"</code>).</li>
          <li>If a date string is <strong>not provided</strong> the current time is used.</li>
          <li>If the date string is <strong>valid</strong> the api returns a JSON object in this format:<code>{"unix": 1479663089000 ,"utc": "Sun, 20 Nov 2016 17:31:29 GMT"}</code></li>
          <li>If the date string is <strong>invalid</strong> the api returns a JSON object like this: <code>{"error": "Invalid Date" }</code></li>
        </ol>

        <h3>Example Usage:</h3>
        <ul>
          <li><a href="./api/timestamp/2015-12-25"><code>GET ./api/timestamp/2015-12-25</code></a></li>
          <li><a href="./api/timestamp/1450137600"><code>GET ./api/timestamp/1450137600</code></a></li>
        </ul>

        <h3>Example Output:</h3>
        <p><code>{"unix":1451001600000, "utc":"Fri, 25 Dec 2015 00:00:00 GMT"}</code></p>
      </div>

      <div class="footer">
        <p>coded by <a href="http://www.charlietaylorcoder.com/">charlie taylor</a></p>
      </div>

   </body>
</html>
